<!DOCTYPE html>
<html>
    <head>
        <title>
            {{ item.name }} - Inventory Tracker
        </title>
    </head>
    <body>
        {% include 'navigation.html' %}
        <h1>Inventory Tracker</h1>
        <h2>{{ item.name }}</h2>
        <p>
            Name: {{ item.name }}
        </p>
        <p>
            Category: {{ item.category }}
        </p>
        <p>
            Description: {{ item.description }}
        </p>
        <p>
            Dimensions: {{ item.height }}ft x {{ item.length }}ft x {{ item.width }}ft
        </p>
        {% if warehouse %}
            <p>
                Warehouse: <a href="/warehouses/{{ warehouse.id }}">{{ warehouse.city }} - #{{ warehouse.id }}</a>
            </p>
        {% endif %}
        <p>
            <a href="/items/{{ item.id }}/edit">
                <button>Edit</button>
            </a>
        </p>
        <p>
            <a href="/items/{{ item.id }}/delete">
                <button>Delete</button>
            </a>
        </p>
    </body>
</html>
