<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }} - Inventory Tracker</title>
    </head>
    <body>
        {% include 'navigation.html' %}
        <h1>Inventory Tracker</h1>
        <h2>{{ title }}</h2>
        <form action="{{ path }}" method="post">
            {{ form.hidden_tag() }}
            <p>
                Name:
                <br>{{ form.name() }}
            </p>
            <p>
                Category:
                <br>{{ form.category() }}
            </p>
            <p>
                Description:
                <br>{{ form.description() }}
            </p>
            <p>
                Height(ft):
                <br>{{ form.height() }}
            </p>
            <p>
                Length(ft):
                <br>{{ form.length() }}
            </p>
            <p>
                Width(ft):
                <br>{{ form.width() }}
            </p>
            <p>
                Warehouse:
                <br>{{ form.warehouse_id() }}
            </p>
            <button>Submit</button>
            {% if errors %}
                <p>Errors:</p>
                <ul>
                    {% for error in errors %}
                        {% for item in errors[error] %}
                            <li>
                                {{ item }}
                            </li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            {% endif %}
        </form>
    </body>
</html>
