<!DOCTYPE html>
<html>
    <head>
        <title>
            Items - Inventory Tracker
        </title>
    </head>
    <body>
        {% include 'navigation.html' %}
        <h1>Inventory Tracker</h1>
        <h2>Items</h2>
        <ul>
            {% for item in items %}
                <li>
                    <a href="/items/{{ item.id }}">{{ item.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="/items/new">
            <button>Add</button>
        </a>
    </body>
</html>
