<!DOCTYPE html>
<html>
    <head>
        <title>
            Warehouse #{{ warehouse.id}} - Inventory Tracker
        </title>
    </head>
    <body>
        {% include 'navigation.html' %}
        <h1>Inventory Tracker</h1>
        <h2>Warehouse #{{ warehouse.id}}</h2>
        <p>
            Location: {{ warehouse.city }}
        </p>
        <p>
            Maximum Capacity: {{ warehouse.max_volume }} ft<sup>3</sup>
        </p>
        <p>
            <a href="/warehouses/{{ warehouse.id }}/edit">
                <button>Edit</button>
            </a>
        </p>
        <p>
            <a href="/warehouses/{{ warehouse.id }}/delete">
                <button>Delete</button>
            </a>
        </p>
        {% if inventory %}
            <h3>Inventory for Warehouse #{{ warehouse.id }}:</h3>
            <ul>
                {% for item in inventory %}
                    <li>
                        <a href="/items/{{ item.id }}">{{ item.name }}</a>
                    </li>
                {% endfor %}
            </ul>
        {% endif %}
    </body>
</html>
