<!DOCTYPE html>
<html>
    <head>
        <title>
            Warehouse #{{ warehouse.id}} - Inventory Tracker
        </title>
    </head>
    <body>
        {% include 'navigation.html' %}
        <h1>Inventory Tracker</h1>
        <h2>Warehouse #{{ warehouse.id}}</h2>
        <p>
            Location: {{ warehouse.city }}
        </p>
        <p>
            Maximum Capacity: {{ warehouse.max_volume }} square feet
        </p>
        <p>
            <a href="/warehouses/{{ warehouse.id }}/edit">
                <button>Edit</button>
            </a>
            <br>
            <a href="/warehouses/{{ warehouse.id }}/delete">
                <button>Delete</button>
            </a>
        </p>
    </body>
</html>
